* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010204;
    color: white;
}
.burgermenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
.bars {
    font-size: 70px;
    line-height: 10px;
}

@media only screen and (max-width: 600px) {
}
