.main_about{
    text-align: left;
}
.introduction_text{
    display: flex;
    
    flex-direction: column;
}
.introduction_text > p{
    align-self: center;
}














@media only screen and (min-width: 651px) {
.introduction_text > p{
    font-size: 1.5em;
    font-weight:300;
}

}