.contact {
    margin: 0 auto;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form p {
    line-height: 2.5em;
    text-align: end;
}

.formtext {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    max-width: 300px;
    width: 100%;
}

.sendbutton {
    align-self: flex-end;
}

.formtext input, textarea, button {
    margin: 0.75em 0;
    background-color: #727C8C;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.6em;
}

.formtext button {
    font-size: 2em;
    width: 4em;
    height: 2em;
    background-color: blue;
}

.contactbuttons {
    padding-top: 200px;
}

.contactbuttons img {
    padding: 0 0.1em;
    width: 1.5em;
}
